*{
    z-index: 0;
    /*border: 1px solid red;*/
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #685369;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*flex: 1;*/
    align-items: center;
}

.bookCard{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 30vw;
    align-items: center;
    margin: 10px;
    background-color: #c6d8af;
    border-radius: 3%;
    box-shadow: 3px 5px 5px black;
}

#addForm{
    border: 2px solid green;
    display: none;
    flex-direction: column;
    background-color: pink;
    width: 30vw;
    height: 32vw;
    position: fixed;
    top: 10%;
    z-index: 3;
    align-items: center;
}

.cover{
    width: 18vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    /*box-shadow: 5px 0px white;*/
    font-family: 'Josefin Sans', sans-serif;
}

.authorCard{
    text-align: center;
    margin: auto;
    font-size: 1.2vw;
}

.titleCard{
    text-align: center;
    margin: auto;
    font-size: 2vw;
}

.infoCard{
    font-size: 1.3vw;
    margin: auto;
    text-align: center;
    /*font-family: 'Roboto', sans-serif;*/
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;
    justify-self: stretch;
    background-color: #efa48b;
    border-radius: 5px;
    padding: 10px;
}

.readDiv{

}

.totalDiv{
}

.bookCard button{
    justify-self: flex-end;
}

.delete{
    align-self: flex-end;
    margin: 2%;
    padding: auto;
    width: 1.5vw;
    height: 1.5w;
    background-color: #a33b20;
    border: 0px;
    color: white;
    border-radius: 3px;
}

#toggleForm{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.formBox{
    border: 2px red solid;
    display: flex;
    flex-direction: column;
    width: 85%;
    font-size: 1.5vw;
    margin: auto;
}

.formBox input{
    height: 3vw;
    font-size: 1.5vw;  
}

.buttonBox{
    border: 2px blue solid;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

#titleBox{
    border: cadetblue 2px solid;
    text-align: center;
    align-self: stretch;
    height: 15%;
}

#blocker{
    background-color: black;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 1;
    opacity: 50%;
    display: none;
}