*{
    z-index: 0;
    /*border: 1px solid red;*/
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*flex: 1;*/
    align-items: center;
}

.bookCard{
    border: 5px solid purple;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 30vw;
    align-items: center;
    margin: 10px;
}

#addForm{
    border: 2px solid green;
    display: none;
    flex-direction: column;
    background-color: pink;
    width: 30vw;
    height: 32vw;
    position: fixed;
    top: 10%;
    z-index: 3;
    align-items: center;
}

.cover{
    border:2px solid salmon;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.authorCard{
    border: 5px solid yellow;
    text-align: center;
    margin: auto;
    font-size: 1.2vw;
}

.titleCard{
    border: 3px solid orange;
    text-align: center;
    margin: auto;
    font-size: 2vw;
}

.infoCard{
    border: 2px blue solid;
    font-size: 1.3vw;
    margin: auto;
}

.readDiv{

}

.totalDiv{
}

.bookCard button{
    justify-self: flex-end;
}

.delete{
    align-self: flex-end;
    margin: 3px;
    padding: auto;
}

#toggleForm{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.formBox{
    border: 2px red solid;
    display: flex;
    flex-direction: column;
    width: 85%;
    font-size: 1.5vw;
    margin: auto;
}

.formBox input{
    height: 3vw;
    font-size: 1.5vw;  
}

.buttonBox{
    border: 2px blue solid;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

#titleBox{
    border: cadetblue 2px solid;
    text-align: center;
    align-self: stretch;
    height: 15%;
}

#blocker{
    background-color: black;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 1;
    opacity: 50%;
    display: none;
}